@model IEnumerable<Amazon.Models.admin>
@using Amazon.Models

@{ ViewBag.Title = "neworders"; }

<h2 class="text-center text-danger">Customer New Orders</h2>
@{ WebGrid gd = new WebGrid(Model, rowsPerPage: 3, canPage: true); }
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="gridContent">
                @gd.GetHtml(tableStyle: "table table-bordered",
                                                                                       headerStyle: "warning",
                                                                                          alternatingRowStyle: "danger",
                                                                                       selectedRowStyle: "success",
                                                           columns: gd.Columns(
                                                               gd.Column("orderid", "Order Id"),
                                                               gd.Column("orderdate",
                                                               format:@<text>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.orderdate))</text>),
            gd.Column("customerid", "Customer Id"),
            gd.Column("totalprice", "Total Price"),
            gd.Column("Action", format:@<text>
                <a href='@Url.Action("viewneworder","Admin",new { oid=item.orderid})'><input type="button" value="View Details" class="btn btn-primary" /></a>
            </text>)
)
)
            </div>
        </div>
    </div>
</div>


@{ ViewBag.Title = "progressorder"; }
<h2 class="text-center text-danger">Progress Order</h2>
@{ WebGrid gd1 = new WebGrid(Model, rowsPerPage: 3, canPage: true); }
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="gridContent">
                @gd1.GetHtml(tableStyle: "table table-bordered",
                                                                                       headerStyle: "warning",
                                                                                          alternatingRowStyle: "danger",
                                                                                       selectedRowStyle: "success",
                                                           columns: gd1.Columns(
                                                               gd1.Column("orderid", "Order Id"),
                                                               gd1.Column("orderdate", format:@<text>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.orderdate))</text>),

            gd1.Column("customerid", "Customer Id"),
            gd1.Column("totalprice", "Total Price"),
            gd1.Column("Action", format:@<text>

                <a href='@Url.Action("viewprogressorder","Admin",new { oid=item.orderid})'>
                    <input type="button" value="View Details" class="btn btn-primary" />
                </a>
            </text>)
)
)
            </div>
        </div>
    </div>
</div>
@{ ViewBag.Title = "viewprogressorder"; }

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <form>
                <label>Order Id:<span id="orderid">@ViewBag.orderid</span></label><br />
                <label>Customerid:@ViewBag.customerid</label>
            </form>

        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <form>
                <label>Order Status:@ViewBag.orderstatus</label><br />
            </form>

        </div>
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h3 class=" text-center text-danger">Items Products Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="table-responsive">
                    <table border="1" class="table table-condensed">
                        <tr style="background-color:lightgrey">
                            <td class='text-center'><b>ItemId</b></td>
                            <td class='text-center'><b>ItemName</b></td>
                            <td class='text-center'><b>Price</b></td>
                            <td class='text-center'><b>Quantity</b></td>
                            <td class='text-center'><b>Sub-Total Price</b></td>
                        </tr>
                        @foreach (var m in Model)
                        {
            <tr>
                <td>@m.productid</td>
                <td>@m.productname</td>
                <td>@m.sellingprice</td>
                <td>@m.quantity</td>
                <td>@m.subtotalprice</td>
            </tr>}
                    </table>
                </div>
                <br />
                <div class="col-sm-offset-8">
                    <span><b>Total Price:@ViewBag.totalprice</b><span id="totalprice"></span></span><br />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1">
                <h4 class="text-center"><b><u>Shipping Address</u></b></h4>
                <address>
                    <label>@Html.Raw(ViewBag.shippingaddress)</label><br />

                </address>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <h4 class="text-center"><b><u>Shipping Details</u></b></h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="cno">Courier No:@ViewBag.courierno</label>

                    </div>
                    <div class="form-group">
                        <label for=" couriertype">Courier Type:@ViewBag.couriertype</label>

                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label for="deliverby">Deliver By:</label>
                        <input type="text" name="deliverby" id="deliverby" />
                    </div>
                </form>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <a href="@Url.Action("progressorder","Admin")"><input type="button" class="btn btn-danger" value="Back" /></a>
            </div>
            <div class="col-sm-2">
                <input type="button" id="dit" class="btn btn-success" value="Deliver It" />
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#dit").click(function () {
            var orderid = $("#orderid").html();
            var deliverby = $("#deliverby").val();
         $.ajax({
                type: "get",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("updateprogressdata", "Admin")',
                data: { "deliverby":deliverby, "orderid": orderid },
                dataType: "json",
                success: function (data) {
                    alert("Orderid "+orderid+" Delivered successfully");

                }
            });
        });
    });
</script>
@{ ViewBag.Title = "deliveredorder"; }
<h2 class="text-center text-danger">Delivered Order</h2>
@{ WebGrid gd2 = new WebGrid(Model, rowsPerPage: 3, canPage: true); }
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="gridContent">
                @gd2.GetHtml(tableStyle: "table table-bordered",
                                                                                  headerStyle: "warning",
                                                                                     alternatingRowStyle: "danger",
                                                                                  selectedRowStyle: "success",
                                                      columns: gd2.Columns(
                                                          gd2.Column("orderid", "Order Id"),
                                                          gd2.Column("orderdate", format:@<text>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.orderdate))</text>),
             gd2.Column("customerid", "Customer Id"),
             gd2.Column("totalprice", "Total Price"),
             gd2.Column("Action", format:@<text>
                <a href='@Url.Action("viewdeliveredorder","Admin",new { oid=item.orderid})'>
                    <input type="button" value="View Details" class="btn btn-primary" />
                </a>
            </text>)
)
)
            </div>
        </div>
    </div>
</div>

@{ ViewBag.Title = "viewdeliveredorder"; }



<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <form>
                <a href="~/Views/Admin/neworders.cshtml">~/Views/Admin/neworders.cshtml</a>
                <label>Order Id:@ViewBag.orderid</label><br />
                <label>Customerid:@ViewBag.customerid</label>
            </form>

        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <form>
                <label>Order Status:@ViewBag.orderstatus</label><br />
            </form>

        </div>
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h3 class=" text-center text-danger">Items Products Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="table-responsive">
                    <table border="1" class="table table-condensed">
                        <tr style="background-color:lightgrey">
                            <td class='text-center'><b>ItemId</b></td>
                            <td class='text-center'><b>ItemName</b></td>
                            <td class='text-center'><b>Price</b></td>
                            <td class='text-center'><b>Quantity</b></td>
                            <td class='text-center'><b>Sub-Total Price</b></td>
                        </tr>
                        @foreach (var m in Model)
                        {
            <tr>
                <td>@m.productid</td>
                <td>@m.productname</td>
                <td>@m.sellingprice</td>
                <td>@m.quantity</td>
                <td>@m.subtotalprice</td>

            </tr>
}
                    </table>
                </div>
                <br />
                <div class="col-sm-offset-8">
                    <span><b>Total Price:@ViewBag.totalprice</b><span id="totalprice"></span></span><br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h4 class="text-center"><b><u>Shipping Address</u></b></h4>
                <address>
                    <label>@Html.Raw(ViewBag.shippingaddress)</label><br />

                </address>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <h4 class="text-center"><b><u>Shipping Details</u></b></h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="cno">Courier No:@ViewBag.courierno</label>

                    </div>
                    <div class="form-group">
                        <label for=" couriertype">Courier Type:@ViewBag.couriertype</label>

                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label for="dby">Deliver By:@ViewBag.deliverby</label>

                    </div>
                    <div class="form-group">
                        <label for="delivereddate">Deliver Date:@ViewBag.delivereddate</label>

                    </div>
                </form>


            </div>
        </div>
        <div class="row">

            <div class="col-sm-offset-6">
                <input type="button" class="btn btn-danger" value="Back" />
            </div>

        </div>
    </div>
</div>
@{ ViewBag.Title = "cancelorder"; }
<h2 class="text-center text-danger">Cancel Order</h2>
@{ WebGrid gd3 = new WebGrid(Model, rowsPerPage: 3, canPage: true); }

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $(".delbtn").on("click", function () {
            var s = confirm("Are you sure to delete?");
            if (s) {
                var tr = $(this).parents('tr:first');
                var orderid = $(this).attr("data-id");
                $.ajax({
                    type: "get",
                    contentType: "application/json;charset=utf-8",
                    url: '@Url.Action("deletecancelorder", "Admin")',
                    data: { "orderid": orderid },
                    dataType: "json",
                    success: function (data) {
                        alert(data.result);
                        tr.hide();
                    }
                });
            }
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id=" gridContent">
                @gd3.GetHtml(tableStyle: "table table-bordered",
                                                                   headerStyle: "warning",
                                                                      alternatingRowStyle: "danger",
                                                                   selectedRowStyle: "success",
                                       columns: gd3.Columns(
                                           gd3.Column("orderid", "Order Id"),
                                           gd3.Column("orderdate", format:@<text>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.orderdate))</text>),
          gd3.Column("customerid", "Customer Id"),
          gd3.Column("totalprice", "Total Price"),
          gd3.Column("Action", format:@<text>
            <a href="@Url.Action("viewcancelorder","Admin",new { oid=item.orderid})"><input type="button" value="View Details" class="btn btn-primary" /></a>

            <input type="button" value="Delete" data-id="@item.orderid" class="display-mode delbtn btn btn-primary" />
        </text>)
)
)
            </div>
        </div>
    </div>
</div>

@{ ViewBag.Title = "viewcancelorder"; }

<h2 class="text-center">View Cancelorder</h2>

<div class="container">
    <div class="row">

        <div class="col-sm-3 col-sm-offset-1">
            <form>
                <label>Order Id:<span id="orderid">@ViewBag.orderid</span></label><br />
                <label>Customerid:@ViewBag.customerid</label>
            </form>

        </div>

        <div class="col-sm-3 col-sm-offset-4">
            <form>
                <label>Order Status:@ViewBag.orderstatus</label><br />
            </form>

        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h3 class=" text-center text-danger">Items Products Details</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">
                <div class="table-responsive">
                    <table border="1" class="table table-condensed">
                        <tr style="background-color:lightgrey">
                            <td class='text-center'><b>ItemId</b></td>
                            <td class='text-center'><b>ItemName</b></td>
                            <td class='text-center'><b>Price</b></td>
                            <td class='text-center'><b>Quantity</b></td>
                            <td class='text-center'><b>Sub-Total Price</b></td>
                        </tr>
                        @foreach (var k in Model)
                        {
            <tr>
                <td>@k.productid</td>
                <td>@k.productname</td>
                <td>@k.sellingprice</td>
                <td>@k.quantity</td>
                <td>@k.subtotalprice</td>
            </tr>}
                    </table>
                </div>
                <br />
                <div class="col-sm-offset-8">
                    <span><b>Total Price:@ViewBag.totalprice</b><span id="totalprice"></span></span><br />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1">
                <h4 class="text-center"><b><u>Shipping Address</u></b></h4>
                <address>
                    <label>@Html.Raw(ViewBag.shippingaddress)</label><br />
                </address>
                <br />
                @*<div class="text-center">
                        <a href="@Url.Action("neworders","Admin")"><input type="button" class="btn btn-danger" value="Back" /></a>
                    </div>*@
            </div>

            @*<div class="col-sm-3 col-sm-offset-4" id="shipdetail">
                    <h4 class="text-center"><b><u>Shipping Details</u></b></h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="cno">Courier No:</label>
                            <input type="text" name="courierno" id="courierno" />
                        </div>
                        <div class="form-group">
                            <label for=" couriertype">Courier Type:</label>
                            <select class="form-control" name="couriertype" id="couriertype">
                                <option>Select</option>
                                <option>Blue Dart</option>
                                <option>DTDC</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="text-right">
                            <input type="button" id="sit" class="btn btn-success" value="Ship It" />
                        </div>
                    </form>


                </div>*@

            @*<div id="printbill" class="col-sm-3 col-sm-offset-4" style="display:none">

                    <h4 class="text-center"><b><u>Shipping Details</u></b></h4>

                    <label>Courier No:<span id="scourierno"></span></label><br />
                    <label>Courier Type:<span id="scouriertype"></span></label><br />
                    <div class="text-right">
                        <a href="@Url.Action("Invoice","Admin", new {oid= @ViewBag.orderid})" target="_blank"><input type="button" id="pit" class="btn btn-success" value="Print Invoice/Bill" /></a>
                    </div>
                </div>*@

        </div>

        <div class="text-center">
            <a href="@Url.Action("cancelorder","Admin")"><input type="button" class="btn btn-success" value="Back" /></a>
        </div>
    </div>


</div>





